<ion-header>
  <ion-toolbar>
    <ion-title>Detalle tarea</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="danger" (touchstart)="onDelete()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="new-task">
    <div class="intro">
      <h2>Nueva tarea</h2>
      <p>Captura lo importante en segundos.</p>
    </div>
    <form [formGroup]="taskDetailsForm">
      <ion-list lines="none">
        <ion-item>
          <ion-label position="stacked">Titulo</ion-label>
          <ion-input formControlName="titulo" placeholder="Ej. Preparar entrevista" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Descripcion</ion-label>
          <ion-textarea formControlName="descripcion" auto-grow="true" placeholder="Notas opcionales"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Prioridad</ion-label>
          <ion-select formControlName="prioridad" interface="popover">
            <ion-select-option value="baja">Baja</ion-select-option>
            <ion-select-option value="media">Media</ion-select-option>
            <ion-select-option value="alta">Alta</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Fecha límite</ion-label>
          <ion-datetime-button datetime="fecha-limite">
          </ion-datetime-button>
        </ion-item>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="fecha-limite" presentation="date" formControlName="fechaVencimiento">
            </ion-datetime>
          </ng-template>
        </ion-modal>
        <ion-item>
          <ion-label position="stacked">Etiquetas</ion-label>

          <ion-list>
            <ion-item>
              <ion-select formControlName="selectedTag" aria-label="Etiquetas" placeholder="Selecciona una etiqueta">
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-item>
      </ion-list>
    </form>
  </section>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="actions">
      <ion-button fill="clear" size="small" (click)="onCancel()">
        Cancelar
      </ion-button>
      <ion-button size="small" class="primary" (click)="onSubmit()">
        Guardar
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>

@if(isLoading){
<app-loader></app-loader>
}
