<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Accenture
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <app-top-bar-filter></app-top-bar-filter>
  <div id="container">
    <app-tasks></app-tasks>
  </div>
  <ion-fab class="fab-new-task" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/nueva-tarea']" aria-label="Nueva tarea">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <app-navbar></app-navbar>
</ion-content>
